<a href="https://colab.research.google.com/github/Shorna-2019331049/Skill_Morph/blob/main/Assignment_3_NumPy_and_Pandas_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [81]:
"""
Student Performance Dataset Analysis
Dataset Information
Student Performance Dataset (StudentsPerformance.csv)

1000 students with academic performance data
8 columns: gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score
Score Range: 0-100 for each subject
Demographics: Male/Female, 5 ethnic groups, 6 education levels, standard/free lunch, test prep completed/none
"""

'\nStudent Performance Dataset Analysis\nDataset Information\nStudent Performance Dataset (StudentsPerformance.csv)\n\n1000 students with academic performance data\n8 columns: gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score\nScore Range: 0-100 for each subject\nDemographics: Male/Female, 5 ethnic groups, 6 education levels, standard/free lunch, test prep completed/none\n'

In [82]:
!pip install numpy pandas
from google.colab import drive
drive.mount('/content/drive')
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [84]:
#Task 1.1: Data Loading and Exploration
import numpy as np
import pandas as pd

# Load the dataset
df = pd.read_csv('/content/drive/MyDrive/skill_morph/StudentsPerformance.csv')

# Your tasks:
# 1. Display first 10 rows
# 2. Show dataset shape and info()
# 3. Display unique values in each categorical column
# 4. Show basic statistics for all score columns

# Your code here:
print("Task 1.1.1:")
print("First 10 rows")
print(df.head(10))

print("\n\nTask 1.1.2:")
print(f"Dataset shape: {df.shape}")
print(f"Dataset info")
print(df.info())

print("\n\nTask 1.1.3:")
print(f"Unique values in each categorical column: {df.nunique()}")
print("\n\nTask 1.1.4:")
print(df.describe())

Task 1.1.1:
First 10 rows
   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard
5  female        group B          associate's degree      standard
6  female        group B                some college      standard
7    male        group B                some college  free/reduced
8    male        group D                 high school  free/reduced
9  female        group B                 high school  free/reduced

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75
5                    none          71             83             78
6               completed          88             95             92
7                    none          40             43             39
8               completed          64             64             67
9                    none          38             60             50


Task 1.1.2:
Dataset shape: (1000, 8)
Dataset info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None


Task 1.1.3:
Unique values in each categorical column: gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64


Task 1.1.4:
       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [85]:
#Task 1.2: NumPy Array Operations
# Convert score columns to numpy arrays
math_scores = df['math score'].values
reading_scores = df['reading score'].values
writing_scores = df['writing score'].values

# Your tasks:
# 1. Calculate mean, median, std, min, max for each subject using NumPy
# 2. Find total students who scored above 80 in math
# 3. Find total students who scored below 50 in any subject
# 4. Calculate the overall average score across all three subjects

# Expected output example:
# Math - Mean: 66.1, Median: 66.0, Std: 15.2
# Students with math > 80: 132
# Students with any score < 50: 178

# Your code here:
print("Task 1.2.1:")
print(f"Math scores - mean: {np.mean(math_scores)}, median: {np.median(math_scores)}, std: {np.std(math_scores)}, min: {np.min(math_scores)}, max: {np.max(math_scores)}")
print(f"Reading scores - mean: {np.mean(reading_scores)}, median: {np.median(reading_scores)}, std: {np.std(reading_scores)}, min: {np.min(reading_scores)}, max: {np.max(reading_scores)}")
print(f"Writing scores - mean: {np.mean(writing_scores)}, median: {np.median(writing_scores)}, std: {np.std(writing_scores)}, min: {np.min(writing_scores)}, max: {np.max(writing_scores)}")

print("\nTask 1.2.2:")
print(f"Students who scored above 80 in math: {np.sum(math_scores>80)}")

print("\nTask 1.2.3:")
print(f"Students who scored below 50 in any subject: {np.sum((math_scores<50) | (reading_scores<50) | (writing_scores<50))}")

print("\nTask 1.2.4:")
print(f"Overall average score across all three subjects: {np.mean([np.mean(math_scores), np.mean(reading_scores), np.mean(writing_scores)])}")

Task 1.2.1:
Math scores - mean: 66.089, median: 66.0, std: 15.155496659628149, min: 0, max: 100
Reading scores - mean: 69.169, median: 70.0, std: 14.592890015346516, min: 17, max: 100
Writing scores - mean: 68.054, median: 69.0, std: 15.188057281956768, min: 10, max: 100

Task 1.2.2:
Students who scored above 80 in math: 176

Task 1.2.3:
Students who scored below 50 in any subject: 188

Task 1.2.4:
Overall average score across all three subjects: 67.77066666666666

In [86]:
# Task 2.1: Identify and Handle Missing Data
# Check the dataset for any missing values
# Your tasks:
# 1. Check for null values in each column using .isnull().sum()
# 2. Check for any impossible values (scores > 100 or < 0)
# 3. Display summary of data quality

# Note: This dataset is clean, but let's verify!

# Your code here:
print("Task 2.1.1:")
print(df.isnull().sum())

print("\n\nTask 2.1.2:")
cnt1 = ((df['math score']<0) | (df['math score']>100)).sum()
cnt2 = ((df['reading score']<0) | (df['reading score']>100)).sum()
cnt3 = ((df['writing score']<0) | (df['writing score']>100)).sum()

print(f"Impossible values in math score: {cnt1}")
print(f"Impossible values in reading score: {cnt2}")
print(f"Impossible values in writing score: {cnt3}")


print("\n\nTask 2.1.3:")
print(df.describe())
print()
print(df.columns.tolist())
print()
print(df.dtypes)
print()
print(df.head(3))
print()
print(df.tail(3))
print()
print(df.loc[7])
print()
c0 = (df['math score']==0).sum()
c1 = (df['reading score']==0).sum()
c2 = (df['writing score']==0).sum()
print(f"0's in math score {c0}")
print(f"0's in reading score {c1}")
print(f"0's in writing score {c2}")

Task 2.1.1:
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64


Task 2.1.2:
Impossible values in math score: 0
Impossible values in reading score: 0
Impossible values in writing score: 0


Task 2.1.3:
       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course', 'math score', 'reading score', 'writing score']

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

   gender race/ethnicity parental level of education     lunch  \
0  female        group B           bachelor's degree  standard
1  female        group C                some college  standard
2  female        group B             master's degree  standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93

     gender race/ethnicity parental level of education         lunch  \
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

gender                                 male
race/ethnicity                      group B
parental level of education    some college
lunch                          free/reduced
test preparation course                none
math score                               40
reading score                            43
writing score                            39
Name: 7, dtype: object

0's in math score 1
0's in reading score 0
0's in writing score 0

In [87]:
#Task 2.2: Create and Fix Missing Value
# Artificially create missing data for practice
import numpy as np

# Your tasks:
# 1. Make a copy of the dataset: df_practice = df.copy()
# 2. Randomly set 50 math scores to np.nan
# 3. Randomly set 30 writing scores to np.nan
# 4. Fill missing math scores with the MEDIAN math score
# 5. Fill missing writing scores with the MEAN writing score
# 6. Verify no missing values remain

# Steps to follow:
# Step 1: Create copy and show original missing values
df_practice = df.copy()
print("Task 2.2.1:")
print("Make a copy of dataset:")
print("Original missing values:", df_practice.isnull().sum())

# Step 2: Create missing data
np.random.seed(42)  # For reproducible results
missing_math_idx = np.random.choice(df_practice.index, 50, replace=False)
missing_writing_idx = np.random.choice(df_practice.index, 30, replace=False)

# Continue the task...
# Your code here:
print("\n\nTask 2.2.2 and 2.2.3:")
print("Randomly set 50 math scores to np.nan and 30 writing scores to np.nan:")
df.loc[missing_math_idx, 'math score'] = np.nan
df.loc[missing_writing_idx, 'writing score'] = np.nan
print(df.isnull().sum())

print("\n\nTask 2.2.4:")
median_math = df['math score'].median()
print(f"Fill missing math scores with the MEDIAN math score: {median_math}")
df['math score'].fillna(median_math, inplace=True)
print(df.isnull().sum())

print("\nTask 2.2.5 and 2.2.6:")
writing_median = df['writing score'].median()
df['writing score'].fillna(writing_median, inplace=True)
print(f"Fill missing writing scores with the MEAN writing score: {writing_median}")
print(df.isnull().sum())

Task 2.2.1:
Make a copy of dataset:
Original missing values: gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64


Task 2.2.2 and 2.2.3:
Randomly set 50 math scores to np.nan and 30 writing scores to np.nan:
gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                     50
reading score                   0
writing score                  30
dtype: int64


Task 2.2.4:
Fill missing math scores with the MEDIAN math score: 66.0
gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                      0
reading score                   0
writing score                  30
dtype: int64

Task 2.2.5 and 2.2.6:
Fill missing writing scores with the MEAN writing score: 69.0
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [88]:
#Task 3.1:Answer Simple Questions About Student Performance
# Your tasks:
# 1. Display first 5 rows using .head()
# 2. Display last 5 rows using .tail()
# 3. Show dataset shape using .shape
# 4. Show column names using .columns
# 5. Show data types using .dtypes
# 6. Show basic info using .info()

# Your code here:
df2 = pd.read_csv('/content/drive/MyDrive/skill_morph/StudentsPerformance.csv')
print("Task 3.1.1:")
print(df2.head(5))
print("\nTask 3.1.2:")
print(df2.tail(5))
print("\nTask 3.1.3:")
print(df2.shape)
print("\nTask 3.1.4:")
print(df2.columns)
print("\nTask 3.1.5:")
print(df2.dtypes)
print("\nTask 3.1.6:")
print(df2.info())

Task 3.1.1:
   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

Task 3.1.2:
     gender race/ethnicity parental level of education         lunch  \
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

Task 3.1.3:
(1000, 8)

Task 3.1.4:
Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

Task 3.1.5:
gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

Task 3.1.6:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [89]:
#Task 3.2: Basic Groupby Analysis
# Comprehensive groupby analysis
# Your tasks:

# 1. Group by 'gender' and calculate:
#    - Average scores in all subjects
#    - Count of students

# 2. Group by 'test preparation course' and show:
#    - Mean scores for each subject
#    - Show which subject benefits most from test prep

# 3. Group by 'parental level of education' and calculate:
#    - Average math score for each education level
#    - Rank education levels by math performance

# 4. Group by 'lunch' type and show:
#    - Average scores for each subject
#    - Count of students in each lunch category

# Your code here:
print("Task 3.2.1:")
gender_grp = df2.groupby('gender')[['math score', 'reading score', 'writing score']].agg(['mean', 'count'])
print(gender_grp)

print("\nTask 3.2.2:")
test_prep_grp = df2.groupby('test preparation course')[['math score','reading score','writing score']].mean()
print(test_prep_grp)
sub_ben = test_prep_grp.loc['completed']-test_prep_grp.loc['none']
print(sub_ben)
print(f"Subject that benefits most from test prep: {sub_ben.idxmax()}")

print("\nTask 3.2.3:")
parentalEd_grp = df2.groupby('parental level of education')['math score'].mean()
print(parentalEd_grp)
print("Rank Education levels by math performance:")
print(parentalEd_grp.sort_values(ascending=False))

print("\nTask 3.2.4:")
lunch_grp = df2.groupby('lunch')[['math score','reading score','writing score']].agg(['mean','count'])
print(lunch_grp)
print()

Task 3.2.1:
       math score       reading score       writing score
             mean count          mean count          mean count
gender
female  63.633205   518     72.608108   518     72.467181   518
male    68.728216   482     65.473029   482     63.311203   482

Task 3.2.2:
                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673
math score       5.617649
reading score    7.359587
writing score    9.914322
dtype: float64
Subject that benefits most from test prep: writing score

Task 3.2.3:
parental level of education
associate's degree    67.882883
bachelor's degree     69.389831
high school           62.137755
master's degree       69.745763
some college          67.128319
some high school      63.497207
Name: math score, dtype: float64
Rank Education levels by math performance:
parental level of education
master's degree       69.745763
bachelor's degree     69.389831
associate's degree    67.882883
some college          67.128319
some high school      63.497207
high school           62.137755
Name: math score, dtype: float64

Task 3.2.4:
             math score       reading score       writing score
                   mean count          mean count          mean count
lunch
free/reduced  58.921127   355     64.653521   355     63.022535   355
standard      70.034109   645     71.654264   645     70.823256   645

In [90]:
#Task 3.3: Use your data analysis skills to answer these easy questions:

# 1. Who performs better in math - males or females?
#    - Calculate average math score by gender
#    - Show the difference between male and female average

# 2. Which subject do students perform best in overall?
#    - Calculate the overall average for math, reading, and writing
#    - Rank the subjects from highest to lowest average score

# 3. What's the impact of parental education?
#    - Find the average total score for each parental education level
#    - Identify which education level leads to highest student performance

print("Task 3.3.1:")
gender_grp = df2.groupby('gender')['math score'].agg(['mean','count'])
print(gender_grp)

difference = gender_grp.loc['male','mean']-gender_grp.loc['female','mean']
print(f"Difference between male and female average: {difference}")
if(difference>0):
  print("Male performs better in math")
elif (difference<0):
  print("Female performs better in math")
else:
  print("Both showed same performance")

print("\nTask 3.3.2:")
test_score = df2[['math score','writing score', 'reading score']].mean()
print(f"Overall average for math, reading, and writing:\n{test_score}")
print(f"Rank the Subjects:\n{test_score.sort_values(ascending=False)}\n\n")

print("\nTask 3.3.3:")
df2['total_score'] = df2['math score'] + df2['reading score'] + df2['writing score']
parentalEd_grp = df2.groupby('parental level of education')['total_score'].mean()
print(parentalEd_grp)
print(f"Highest student performance: {parentalEd_grp.idxmax()}")

Task 3.3.1:
             mean  count
gender
female  63.633205    518
male    68.728216    482
Difference between male and female average: 5.095011134430216
Male performs better in math

Task 3.3.2:
Overall average for math, reading, and writing:
math score       66.089
writing score    68.054
reading score    69.169
dtype: float64
Rank the Subjects:
reading score    69.169
writing score    68.054
math score       66.089
dtype: float64



Task 3.3.3:
parental level of education
associate's degree    208.707207
bachelor's degree     215.771186
high school           189.290816
master's degree       220.796610
some college          205.429204
some high school      195.324022
Name: total_score, dtype: float64
Highest student performance: master's degree