<a href="https://colab.research.google.com/github/Shorna-2019331049/Skill_Morph/blob/main/SM_class2_IntroductionToPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics: Variables

## 2.1.  Create variables for your name, age, and favorite color, then print them with descriptive labels.

In [3]:
name = "Shorna"
age = 25
fav_color = "Blue"

print(f"Name: {name}")
print(f"Age: {age}")
print(f"Favorite Color: {fav_color}")

Name: Shorna
Age: 25
Favorite Color: Blue

# Python Data Types

## 2.2.  Create one variable of each type and use the type() function to verify its type.

In [4]:
name = "Shorna"
age  = 25
price = 80.64
is_valid = True
result = None

print(type(name))
print(type(age))
print(type(price))
print(type(is_valid))
print(type(result))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

# Basic Operations

## 2.3.  Calculate the area and perimeter of a rectangle with length 7 and width 5.

In [5]:
length = 7
width = 5

area = length * width
perimeter = 2 * (length + width)

print(f"Area: {area}")
print(f"Perimeter: {perimeter}")

Area: 35
Perimeter: 24

# Data Collections

## 2.4.  Create a list of 5 Bangladeshi foods, then access the first and last elements.

In [6]:
bd_foods = ['panta ilish', 'fuchka', 'biriyani', 'chingri bhorta', 'khichuri']
print(bd_foods)
print(bd_foods[0])
print(bd_foods[-1])

['panta ilish', 'fuchka', 'biriyani', 'chingri bhorta', 'khichuri']
panta ilish
khichuri

## 2.5.  Create a list of 5 numbers, add a new number, remove one, and then sort the list

In [7]:
numbers = [4,7,8,2,3]
print(numbers)
numbers.append(13)
print(numbers)
numbers.remove(8)
print(numbers)
numbers.sort()
print(numbers)

[4, 7, 8, 2, 3]
[4, 7, 8, 2, 3, 13]
[4, 7, 2, 3, 13]
[2, 3, 4, 7, 13]

## 2.6.  Create a dictionary about yourself with at least 4 key-value pairs.

In [9]:
myself = {
    'name':"Shorna",
    'age':25,
    'fav_color':"Blue",
    'fav_food':"biriyani"
}
print(myself)
print(myself['name'])
print(myself['fav_food'])

{'name': 'Shorna', 'age': 25, 'fav_color': 'Blue', 'fav_food': 'biriyani'}
Shorna
biriyani

## 2.7. Create a tuple with the latitude and longitude of a famous place in Bangladesh.

In [10]:
coordinate = (23.4,90.4)
print(coordinate)
print(coordinate[0])
print(coordinate[1])

(23.4, 90.4)
23.4
90.4

##  2.8. Create two sets of colors and find their union and intersec

In [16]:
color_1 = {'red','green','blue'}
color_2 = {'black','pink','blue','orange'}
print(color_1)
print(color_2)
print(color_1.union(color_2))
print(color_1.intersection(color_2))

print(color_1 | color_2)
print(color_1 & color_2)

{'green', 'red', 'blue'}
{'orange', 'black', 'blue', 'pink'}
{'green', 'orange', 'black', 'pink', 'red', 'blue'}
{'blue'}
{'green', 'orange', 'black', 'pink', 'red', 'blue'}
{'blue'}

# Control Structures

## 2.9.  Write a program that checks if a number is positive, negative, or zero.

In [21]:
number = int(input("Enter a number: "))

if number>0:
  print("Positive number")
elif number<0:
  print("Negative number")
else:
  print("Zero")

Enter a number: 9
Positive number

## 2.10. Write a program that checks eligibility for a discount (student AND under 25, OR senior over 60)

In [27]:
person = "student"
age = 23
if(person=="student" and age<25) or (person=="senior" and age>60):
  print("Eligible for discount")
else:
  print("Not eligible")

Eligible for discount

##  2.11. Write a program that prints the first 10 even numbers using a for or while loop

In [28]:
# by using for loop
for i in range(1,12):
  if i%2==0:
    print(f"{i} is an even number")

2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number

## 2.12. Write a program that prints a simple number pyramid pattern using nested loops.

In [31]:
number = int(input("Enter a number: "))
for i in range(1,number+1):
  p = number-i
  while(p):
    print(" ",end="")
    p-=1

  q = 2*i-1
  while(q):
    print("*",end="")
    q-=1
  print()

Enter a number: 6
     *
    ***
   *****
  *******
 *********
***********

# Functions

## 2.13. Create a function that converts temperature from Celsius to Fahrenheit using the formula: F = (C × 9/5) + 32

In [34]:
def celcius_to_fahrenheit(celcius):
  fahrenheit = (celcius* 9/5)+32
  return fahrenheit

print(celcius_to_fahrenheit(38))

100.4

## 2.14.  Create a function with default parameters that calculates the area of a rectangle

In [37]:
def area(length=7,width=5):
  return length*width

print(area())
print(area(10))
print(area(length=9))
print(area(width=7))
print(area(10,20))

35
50
45
49
200